i {
    display: none;
}

.icon-style{
    display: flex  !important;
}


.icon-style-mobile{
    display: none  !important;
}

@media (max-width: 768px) {
    .icon-style {
        display: none  !important;
    }

    .icon-style-mobile {
        display: flex !important;
    }

    .fixed-top_media {
            position: fixed;
            top: 0;
            right: 0;
            left: 0;
            z-index: 1030;
    }
 }


.black-color {
    color: black  !important;
}


.div-center{
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 4px;
    
}
